
<footer class="w-full h-60 bg-black flex justify-center item-center">
    <div class="inside mt-20">
        <h1 class="text-white text-md">I am presenting my back-end skill front of you with the help of <span class="text-3xl font-bold underline">.Drive</span>.<br> This is a Handbag E-commerce site for indivisual owner just like Shop owner. </h1>
    </div>

</footer>
<div class="flex justify-between item-center border-t-[1px] border-zinc-900 bottom-0 px-5 py-3 w-full ">
    <div class="footitem">Term/Conditions</div>
    <div class="footitem">Everything mentain by .Drive</div>
    <div class="footitem">Contact: 1234567890</div>
</div>
</body>
</html>