<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop-Drive</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<head>
    <body class="px-3">
        <nav class="w-full flex justify-between px-10 py-5 item-center border-b-[1px] border-zinc-800 fixed top-0 z-50 bg-white">
            <div class="left">
                <h1 class="text-black font-bold text-xl">.DRIVE</h1>
            </div>
            <div class="right flex gap-x-10 list-none font-bold text-zinc-500 ">
                <li><a href="/">HOME</a></li>
                <li><a href="/shop">SHOP</a></li>
                <li><a href="/login">LOGIN</a>/<a href="/register">REGISTER</a></li>
                <li><a href="/users/cart">CART</a></li>
                <li><a  href="/owners/ownerlogin">OWNER</a></li>
                <li><a href="/users/profile"><i class="fa-regular fa-user"></i></a></li>

            </div>

        </nav>
        <div class="head bg-slate-500 flex justify-center item-center mt-16">
            <h2 class="text-white py-3 font-semibold">.Explore Luxury Hand Bags.</h2>
        </div>
    
