<%- include('partials/header')%>
<div class="text-center align-center w-full h-[33rem] bg-black">
    <h1 class="font-bold text-8xl bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500" >YOU DON'T HAVE ACCESS OF STORE. <br> SORRY FOR INCONVENIENCE</h1>

</div>
<footer class="flex justify-between item-center border-t-[1px] border-zinc-900 bottom-0 px-5 py-3 w-full ">
    <div class="footitem">Term/Conditions</div>
    <div class="footitem">Everything mentain by .Drive</div>
    <div class="footitem">Contact: 1234567890</div>
</footer>